.wrapper {
  width: 90%;
  margin: 0 auto;
}

.note_map {
  display: flex;
  gap: 2%;
  width: 100%;
  position: relative;
}

.checklist_calculation {
  display: flex;
  gap: 2%;
  width: 100%;
  margin: 2% 0;
  padding-bottom: 3%;
}

.trip_header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.date_pickers{
  display: flex;
  gap:10%;
  margin-left: 2%;
}

::ng-deep .date_picker {
  .mat-mdc-form-field-flex {
    border-radius: 16px !important;
    padding: 1% 5% !important;
    background-color: #fae8c3 !important;
  }
  .mat-mdc-text-field-wrapper {
    border-radius: 16px !important;
    background-color: #ccbd9f !important;
  }
  .mat-datepicker-input {
    &.invalid {
      color: red !important;
      border: 1px solid red !important;
      border-radius: 4px !important;
      box-shadow: 0 0 4px 2px rgba(255, 0, 0, 0.2);
    }
  }
}

.trip_title_input {
  border-radius: 16px;
  border: 2px solid #e0e0e0;
  padding: 10px 16px;
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  max-width: 600px;
  margin: 2% 0 3%;

  &.invalid {
    border: 2px solid #cc3412;
  }
}

.note {
  background-color: #fffff7;
  flex: 1 1 50%;
  width: 50%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 16px;
  box-sizing: border-box;

  .note_title {
    font-size: 1.5rem;
    margin-bottom: 2%;
    color: #888888;
  }

  ::ng-deep {
    .ql-toolbar {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      background-color: #f5e9d4;
      border-bottom: none;
    }

    .ql-container {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      background-color: #fbf7f0;
    }

    .ql-editor {
      min-height: 50vh;
    }
  }
}

.map {
  background-color: #cfeffc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  flex: 1 1 50%;
  width: 50%;
  border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;
  min-height: 300px;
}

.checklist,
.calculation_table{
  background-color: #fffff7;
  flex: 1 1 50%;
  width: 50%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 16px;
  box-sizing: border-box;
  overflow-x: auto;

  .tasks{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 2%;
    color: #888888;
  }

  .task_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .task_item {
    display: flex;
    align-items: center;
    gap: 1%;
    background: #f5f5f5;
    padding: 6px 10px;
    border-radius: 12px;
    cursor: pointer;
  }

  .mat-mdc-table{
    background-color: transparent;
  }

  .mat-mdc-paginator{
    background-color: transparent;
  }

  .col_description {
    width: 60%;
    max-width: 60%;
  }

  .col_amount {
    width: 15%;
    max-width: 15%;
    text-align: center;
  }

  .col_currency {
    width: 15%;
    max-width: 15%;
    text-align: center;
  }

  .col_delete {
    width: 10%;
    max-width: 10%;
    text-align: center;
  }

  .total_row {
    background-color: #f5e9d4;
    font-weight: bold;
    text-align: right;

    &.currency{
      text-align: center;
    }
  }

  .table_input {
    flex: 1;
    border-radius: 5px;
    border: 2px solid #e0e0e0;
    height: 3vh;

    &.description{
      width: 90%;
    }

    &.amount{
      width: 80%;
    }
  }

  ::ng-deep .checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background{
    border-radius: 50% !important;
    background-color: #4caf50 !important;
    border: 2px solid #4caf50 !important;
  }
}

.calculation_table{
  background-color: #fffff7;
  flex: 1 1 50%;
  width: 50%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 16px;
  box-sizing: border-box;
}

@media (max-width: 1120px) {
 .note_map,
  .checklist_calculation {
    flex-direction: column;
    margin-bottom: 10%;
  }

  .note,
  .map,
  .checklist,
  .calculation_table {
    width: 100%;
    margin-top: 5%;
  }

  .map{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .note{
    width: 100%;
  }

  .trip_header {
    flex-direction: column;
  }

  .trip_title_input {
    max-width: 80%;
  }

  ::ng-deep .date_picker {
    width: 60%;
  }

  ::ng-deep .map-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 96% !important;
    height:  90% !important;
    position: absolute !important;
  }
}

@media (max-width: 560px) {
  .date_pickers {
    flex-direction: column;
    .date_picker {
      width: 100%;
    }
  }

  ::ng-deep .map-container {
    width: 90% !important;
    height:  90% !important;
  }
}
