<div class="wrapper">
  <div class="trip-header">
    <input
      class="trip_title_input"
      [(ngModel)]="tripTitle"
      (ngModelChange)="onContentChange()"
      required
      placeholder="Title"/>

    <mat-form-field>
      <mat-label>Date From</mat-label>
      <input
        matInput
        [(ngModel)]="dateFrom"
        [matDatepicker]="startPicker"
        (ngModelChange)="onDateChange()"
        name="startDate"
      />
      <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date To</mat-label>
      <input
        matInput
        [(ngModel)]="dateTo"
        [matDatepicker]="endPicker"
        (ngModelChange)="onDateChange()"
        name="endDate"
      />
      <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="note_map">
    <div class="note">
      <div class="note_title">Notes</div>
      <quill-editor
        [(ngModel)]="noteContent"
        (ngModelChange)="onContentChange()"
        [modules]="quillModules"
        placeholder="Write down some notes on travel plans here...">
      </quill-editor>
    </div>
    <div class="map">
      <google-map
        height="100%"
        width="100%"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="addMarker($event)"
        (mapInitialized)="onMapInitialized($event)">
        <map-directions-renderer *ngIf="directionsResults" [directions]="directionsResults" [options]="directionsRenderOption" />
        <map-marker *ngFor="let marker of markers; index as i" [position]="marker" (mapClick)="removeMarker(i)"  [label]="(i+1).toString()"></map-marker>
      </google-map>
    </div>
  </div>
  <div class="checklist_calculation">
    <div class="checklist">
      <div class="tasks">Tasks
        <button mat-icon-button color="primary" (click)="addTask()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div cdkDropList (cdkDropListDropped)="drop($event)" class="task_list">
        <div class="task_item" *ngFor="let task of checkList; index as i" cdkDrag>
          <mat-checkbox [(ngModel)]="task.completed" (change)="onContentChange()" class="checkbox"></mat-checkbox>
          <input
            matInput
            [(ngModel)]="task.task"
            [readonly]="task.completed"
            (ngModelChange)="onContentChange()"
            placeholder="Task..."
            class="task_input"/>
          <button mat-icon-button color="warn" (click)="removeTask(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="calculation_table"></div>
  </div>
</div>
