<div class="wrapper" *ngIf="trip">
  <div class="trip_header">
    <div class="title_input">
      <input
        class="trip_title_input"
        [placeholder]="TripLabel.Title"
        [(ngModel)]="trip.title"
        required
        (ngModelChange)="onContentChange()"
        [class.invalid]="isTitleInvalid" />
      <span *ngIf="isTitleInvalid" class="error">
        {{ TripLabel.TitleRequired }}
      </span>
    </div>

    <div class="date_pickers">
      <mat-form-field class="date_picker">
        <mat-label>{{ TripLabel.DateFrom }}</mat-label>
        <input
          class="table_input"
          matInput
          name="startDate"
          [(ngModel)]="trip.dateFrom"
          [matDatepicker]="startPicker"
          (ngModelChange)="onDateChange()" />
        <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="date_picker">
        <mat-label>{{ TripLabel.DateTo }}</mat-label>
        <input
          class="table_input"
          matInput
          name="endDate"
          [min]="trip.dateFrom"
          [(ngModel)]="trip.dateTo"
          [matDatepicker]="endPicker"
          (ngModelChange)="onDateChange()"
          [ngClass]="{ 'invalid': isDateRangeInvalid }" />
        <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="note_map">
    <div class="note">
      <div class="note_title">{{ TripLabel.Notes }}</div>
      <quill-editor
        [placeholder]="TripLabel.NotesPlaceholder"
        [(ngModel)]="trip.note"
        [modules]="quillModules"
        (ngModelChange)="onContentChange()">
      </quill-editor>
    </div>

    <div class="map">
      <google-map
        class="google_map"
        [center]="center"
        [zoom]="zoom"
        height="100%"
        width="100%"
        (mapClick)="addMarker($event)"
        (mapInitialized)="onMapInitialized($event)">
        <map-directions-renderer
          *ngIf="directionsResults"
          [directions]="directionsResults"
          [options]="directionsRenderOption">
        </map-directions-renderer>

        <map-marker
          *ngFor="let marker of markers; index as i"
          [position]="marker"
          [label]="(i + 1).toString()"
          (mapClick)="removeMarker(i)">
        </map-marker>
      </google-map>
    </div>
  </div>

  <div class="checklist_calculation">
    <div class="checklist">
      <div class="tasks">
        {{ TripLabel.Tasks }}
        <button mat-icon-button color="primary" (click)="addTask()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="task_list" cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="task_item" *ngFor="let task of trip.checkList; index as i" cdkDrag>
          <mat-checkbox
            class="checkbox"
            [(ngModel)]="task.completed"
            (change)="onContentChange()">
          </mat-checkbox>

          <input
            class="table_input"
            matInput
            [placeholder]="TripLabel.TaskPlaceholder"
            [(ngModel)]="task.task"
            [readonly]="task.completed"
            (ngModelChange)="onContentChange()" />

          <button mat-icon-button color="warn" (click)="removeTask(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="calculation_table">
      <div class="tasks">
        {{ TripLabel.Expenses }}
        <button mat-icon-button color="primary" (click)="addExpense()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="description">
          <th class="col_description" mat-header-cell *matHeaderCellDef>
            {{ TripLabel.Expense }}
          </th>
          <td class="col_description" mat-cell *matCellDef="let element" [formGroup]="element">
            <input
              class="table_input description"
              [formControl]="element.get('description')"
              [placeholder]="TripLabel.ExpensePlaceholder" />
          </td>
          <td class="total_row" mat-footer-cell *matFooterCellDef>
            {{ TripLabel.TotalCost }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th class="col_amount" mat-header-cell *matHeaderCellDef>
            {{ TripLabel.Amount }}
          </th>
          <td class="col_amount" mat-cell *matCellDef="let element" [formGroup]="element">
            <input
              class="table_input amount"
              type="number"
              [formControl]="element.get('amount')" />
          </td>
          <td class="total_row currency" mat-footer-cell *matFooterCellDef>
            <span>{{ convertedTotal }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="currency">
          <th class="col_currency" mat-header-cell *matHeaderCellDef>
            {{ TripLabel.Currency }}
          </th>
          <td class="col_currency" mat-cell *matCellDef="let element" [formGroup]="element">
            <mat-select [formControl]="element.get('currency')">
              <mat-option *ngFor="let currency of currencies" [value]="currency">
                {{ currency }}
              </mat-option>
            </mat-select>
          </td>
          <td class="total_row currency" mat-footer-cell *matFooterCellDef>
            <mat-select [(ngModel)]="selectedCurrency" (selectionChange)="calculateTotal()">
              <mat-option *ngFor="let c of currencies" [value]="c">
                {{ c }}
              </mat-option>
            </mat-select>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th class="col_delete" mat-header-cell *matHeaderCellDef></th>
          <td class="col_delete" mat-cell *matCellDef="let element; index as i">
            <button mat-icon-button color="warn" (click)="removeExpense(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td class="total_row" mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="total_row" mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
