<div class="wrapper" *ngIf="trip">
  <div class="trip_header">
    <div class="title_input">
      <input
        class="trip_title_input"
        [(ngModel)]="trip.title"
        (ngModelChange)="onContentChange()"
        [class.invalid]="isTitleInvalid"
        required
        [placeholder]="TripLabel.Title"/>
      <span *ngIf="isTitleInvalid" class="error">
        {{ TripLabel.TitleRequired }}
      </span>
    </div>
    <div class="date_pickers">
      <mat-form-field class="date_picker">
        <mat-label>{{ TripLabel.DateFrom }}</mat-label>
        <input
          matInput
          [(ngModel)]="trip.dateFrom"
          [matDatepicker]="startPicker"
          (ngModelChange)="onDateChange()"
          name="startDate"
        />
        <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="date_picker" >
        <mat-label>{{ TripLabel.DateTo }}</mat-label>
        <input
          matInput
          [min] = "trip.dateFrom"
          [(ngModel)]="trip.dateTo"
          [ngClass]="{ 'invalid': isDateRangeInvalid }"
          [matDatepicker]="endPicker"
          (ngModelChange)="onDateChange()"
          name="endDate"
        />
        <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="note_map">
    <div class="note">
      <div class="note_title">{{ TripLabel.Notes }}</div>
      <quill-editor
        [(ngModel)]="trip.note"
        (ngModelChange)="onContentChange()"
        [modules]="quillModules"
        [placeholder]="TripLabel.NotesPlaceholder">
      </quill-editor>
    </div>
    <div class="map">
      <google-map
        height="100%"
        width="100%"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="addMarker($event)"
        (mapInitialized)="onMapInitialized($event)">
        <map-directions-renderer *ngIf="directionsResults" [directions]="directionsResults" [options]="directionsRenderOption" />
        <map-marker *ngFor="let marker of markers; index as i" [position]="marker" (mapClick)="removeMarker(i)"  [label]="(i+1).toString()"></map-marker>
      </google-map>
    </div>
  </div>
  <div class="checklist_calculation">
    <div class="checklist">
      <div class="tasks"> {{ TripLabel.Tasks}}
        <button mat-icon-button color="primary" (click)="addTask()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div cdkDropList (cdkDropListDropped)="drop($event)" class="task_list">
        <div class="task_item" *ngFor="let task of trip.checkList; index as i" cdkDrag>
          <mat-checkbox [(ngModel)]="task.completed" (change)="onContentChange()" class="checkbox"></mat-checkbox>
          <input
            matInput
            [(ngModel)]="task.task"
            [readonly]="task.completed"
            (ngModelChange)="onContentChange()"
            [placeholder] = "TripLabel.TaskPlaceholder"
            class="table_input"/>
          <button mat-icon-button color="warn" (click)="removeTask(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="calculation_table">
      <div class="tasks">{{ TripLabel.Expenses}}
        <button mat-icon-button color="primary" (click)="addExpense()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="col_description"> {{ TripLabel.Expense}} </th>
          <td mat-cell *matCellDef="let element" [formGroup]="element" class="col_description">
            <input [formControl]="element.get('description')"
              [placeholder] = "TripLabel.ExpensePlaceholder"
              class="table_input description"/>
          </td>
          <td mat-footer-cell *matFooterCellDef class="total_row">{{ TripLabel.TotalCost}} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="col_amount"> {{ TripLabel.Amount}} </th>
          <td mat-cell *matCellDef="let element"  [formGroup]="element" class="col_amount">
            <input [formControl]="element.get('amount')" type="number" class="table_input amount" />
          </td>
          <td mat-footer-cell *matFooterCellDef class="total_row currency">
            <span>{{ convertedTotal }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef class="col_currency"> {{ TripLabel.Currency}} </th>
          <td mat-cell *matCellDef="let element" [formGroup]="element" class="col_currency">
            <mat-select  [formControl]="element.get('currency')">
              <mat-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</mat-option>
            </mat-select>
          </td>
          <td mat-footer-cell *matFooterCellDef class="total_row currency">
            <mat-select [(ngModel)]="selectedCurrency" (selectionChange)="calculateTotal()">
            <mat-option *ngFor="let c of currencies" [value]="c">{{ c }}</mat-option>
            </mat-select>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="col_delete"></th>
          <td mat-cell *matCellDef="let element; index as i" class="col_delete">
            <button mat-icon-button color="warn" (click)="removeExpense(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef class="total_row"></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns" class="total_row"></tr>
      </table>
      <mat-paginator [pageSizeOptions]= "[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
