<mat-card class="trip_card" [ngClass]="trip.season">
  <img mat-card-image [src]="trip.imageUrl" [alt]="trip.title" />
  <mat-card-content>
    <h3>{{ trip.title }}</h3>
    <div class="trip_dates">{{ trip.dateFrom | date: 'd MMM y' }} – {{ trip.dateTo | date: 'd MMM y' }}</div>
  </mat-card-content>

  <mat-icon class="season_icon" *ngIf="trip.season === 'spring'">local_florist</mat-icon>
  <mat-icon class="season_icon" *ngIf="trip.season === 'summer'">wb_sunny</mat-icon>
  <mat-icon class="season_icon" *ngIf="trip.season === 'autumn'">eco</mat-icon>
  <mat-icon class="season_icon" *ngIf="trip.season === 'winter'">ac_unit</mat-icon>
</mat-card>
