/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html.light-theme {
  --bg-color: #fff;
  --border-color: #e0e0e0;
  --tab-color: #f8f9fa;
  --logo-color: #888888;

  background-color: white;
}

html.dark-theme {
  --bg-color: #343745;
  --border-color: #241514;
  --tab-color: #7a7f99;
  --logo-color: white;

  background-color: #1f2129;
}
