<div class="wrapper">
  <div class="trip_section upcoming">
    <div class="section_header">
      <div class="header">
        <span>{{ tripSection.Upcoming }}</span>
        <mat-icon style="color: orange;">whatshot</mat-icon>
      </div>
      <div class="button_container">
        <button class="sort_button" mat-fab extended (click)="upcomingSorting()"> {{ upcomingSortLabel }}
          <mat-icon>{{ upcomingSortIcon }}</mat-icon>
        </button>
        <mat-button-toggle-group [(ngModel)]="selectedUpcomingSeason" (change)="onSeasonChange()">
          <mat-button-toggle class="season_toggle all" [value] = season.All>All</mat-button-toggle>
          <mat-button-toggle class="season_toggle winter" [value] = "season.Winter">Winter</mat-button-toggle>
          <mat-button-toggle class="season_toggle spring" [value] = "season.Spring">Spring</mat-button-toggle>
          <mat-button-toggle class="season_toggle summer" [value] = "season.Summer">Summer</mat-button-toggle>
          <mat-button-toggle class="season_toggle autumn" [value] = "season.Autumn">Autumn</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="trip_cards">
      <app-trip-card *ngFor="let trip of filteredUpcomingTrips" [trip]="trip"></app-trip-card>
    </div>
  </div>

  <div class="section_divider"></div>

  <div class="trip_section past">
    <div class="section_header">
      <div class="header">
        <span>{{ tripSection.Past}}</span>
      </div>
      <div class="button_container">
        <button class="sort_button" mat-fab extended (click)="pastSorting()"> {{ pastSortLabel }}
          <mat-icon>{{ pastSortIcon }}</mat-icon>
        </button>
        <mat-button-toggle-group [(ngModel)]="selectedPastSeason" (change)="onSeasonChange()">
          <mat-button-toggle class="season_toggle all" [value] = season.All>All</mat-button-toggle>
          <mat-button-toggle class="season_toggle winter" [value] = "season.Winter">Winter</mat-button-toggle>
          <mat-button-toggle class="season_toggle spring" [value] = "season.Spring">Spring</mat-button-toggle>
          <mat-button-toggle class="season_toggle summer" [value] = "season.Summer">Summer</mat-button-toggle>
          <mat-button-toggle class="season_toggle autumn" [value] = "season.Autumn">Autumn</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="trip_cards">
      <app-trip-card *ngFor="let trip of filteredPastTrips" [trip]="trip"></app-trip-card>
    </div>
  </div>
</div>
